@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.banner-items {
  background-color: black;
  position: relative;
}
.overlay-img {
  height: 35rem;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
}
.banner-text {
  padding: 0 0 65px 0;
  font-size: 4em;
}
.banner-p {
  font-size: 1.2rem;
}
.discover-h {
  font-size: 3rem;
}
.discover-p {
  font-size: 1.2rem;
}
@media screen and (max-width: 992px) {
  .banner-text {
    font-size: 3em;
  }
  .discover-h {
    font-size: 3rem;
  }
  .discover-p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .banner-text {
    font-size: 1.76em;
    padding-bottom: 150px;
  }
  .banner-p {
    font-size: 0.5em;
  }
  .discover-h {
    font-size: 2rem;
  }
  .discover-p {
    font-size: 1em;
  }
}
